* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
}

.container {
    display: grid;
    height: 100vh;
    /* grid-template-columns: 25% 500px 25%;
    grid-template-rows: 300px 150px; */
    /* grid-template: rows / columns; */
    grid-template: 80px 1fr 80px / 300px 1fr;
    grid-template-areas: "header header"
                         "left content"
                         "footer footer";
    /* grid-column-gap: 30px;
    grid-row-gap: 10px; */
    /* grid-gap: 10px 30px; */
    gap: 10px;
}

.item {
    background-color: #FBBC05;
    color: white;
    padding: 10px;
    /* Not supported yet */
    /* display: subgrid; */
    /* Not supported yet */
    /* display: inline-grid; */
    display: grid;
    grid-template: 50px 50px 50px / 100px 100px 100px;
    border-radius: 8px;;
}

.item:nth-of-type(1) {
    background-color: #EA4335;
    overflow: auto;
}

.header {
    grid-area: header;
}

.left {
    grid-area: left;
}

.content {
    grid-area: content;
}

.footer {
    grid-area: footer;
}