body {
    font-family: Arial;
}

.container {
    display: grid;
    /* grid-template-columns: 25% 500px 25%;
    grid-template-rows: 300px 150px; */
    /* grid-template: rows / columns; */
    grid-template: 300px 150px / 25% 500px 25%;
}

.item {
    background-color: #FBBC05;
    color: white;
    padding: 10px;
    border: 1px solid #4285F4;
    /* Not supported yet */
    /* display: subgrid; */
    /* Not supported yet */
    /* display: inline-grid; */
    display: grid;
    grid-template: 50px 50px 50px / 100px 100px 100px;
}

.item:nth-of-type(4) {
    background-color: #34A853;
    overflow: auto;
}

.item .item {
    background-color: #EA4335;
}